################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsAppGame/bin/Debug
/WindowsFormsAppGame/obj/Debug
/FsmTest/bin/Debug
/FsmTest/obj/Debug
